<template name="cards">

  <div class="fluid ui big icon input">
    {{> EasySearch.Input index=CardsIndex placeholder="Search..." class="form-control" }}
    <i class="search icon"></i>
  </div>

  <p></p>

  <div class="ui four column doubling stackable grid">
    {{#EasySearch.Each index=CardsIndex}}
      <div class="column">
        {{> card}}
      </div>
    {{/EasySearch.Each}}
  </div>

  <div class="ui two column centered grid">
    <div class="column">
      {{> EasySearch.LoadMore index=CardsIndex attributes=loadMoreAttributes}}
    </div>
  </div>
</template>
