<template name="cards">

  <div class="fluid ui big icon input" id="searchDiv">
    {{> EasySearch.Input index=CardsIndex placeholder="Search..."}}
    <i id="voice-button" class="unmute link icon"></i>
  </div>

  <p></p>

  <div class="ui four column doubling stackable grid">
    {{#EasySearch.Each index=CardsIndex}}
      {{> card}}
    {{/EasySearch.Each}}
  </div>

  <div class="ui two column centered grid">
    <div class="column">
      {{> EasySearch.LoadMore index=CardsIndex attributes=loadMoreAttributes}}
    </div>
  </div>
</template>
