<template name="deck">

  <div class="ui doubling stackable grid">

    <div class="twelve wide column">
      <h3 class="ui top attached header">
          {{name}}

          <span class="ui labels">
            {{#if active}}
              <div class="ui green label">active</div>
            {{else}}
              <div class="ui label">inactive</div>
            {{/if}}
            {{#if public}}<div class="ui blue label">public</div>{{/if}}
          </span>

          <i class="icons">
            <a href={{pathFor 'decks.edit' _id}}><i class="edit link icon"></i></a>
            <a class="right align" href={{pathFor 'deck.simulator' _id}}><i class="play link icon"></i></a>
            <a class="right align" id="forkButton"><i class="fork link icon"></i></a>
          </i>
      </h3>
      <div class="ui attached segment">
        {{#if parent}}
          <h4>Origin: <a href={{pathFor 'decks.view' _id=parent}}>{{parentName}}</a></h4>
        {{/if}}

        <h4>Description</h4>
        <p style="white-space: pre-wrap;">{{description}}</p>

        <h4>Crypt Cards ({{deckStats.cryptCount}})</h4>
        <div class="ui list">
          {{#each cryptItems}}
            <div class="item">
              <a href="{{pathFor route='searchCard' searchString=name}}" class="ui circular card-small image">

                {{#with deckCardStatus card_id}}
                  {{#if missing}}
                  <div class="ui dimmable dimmed segment">
                    <img src="/thumbnails/{{card_id}}.jpg">
                    <div class="ui simple dimmer">
                      <div class="content">
                        <div class="center">
                          {{missing}}
                        </div>
                      </div>
                    </div>
                  </div>
                  {{else}}
                    <img src="/thumbnails/{{card_id}}.jpg">
                  {{/if}}
                {{/with}}

              </a>
              <div class="content">
                <div class="header">
                  {{deck_count}}x <a class="card-name">{{name}}</a>
                </div>
                <div class="description">
                  {{#each disciplines}}
                    <icon class="{{this}}"></icon>
                  {{/each}}
                  {{clan}} {{capacity}} {{title}}
                </div>
              </div>
            </div>
          {{/each}}
        </div>

        <h4>Library Cards ({{deckStats.libCount}})</h4>
          <div class="ui middle aligned list">
          {{#each libItems}}
            <h5>{{type}} ({{countCards cards}})</h5>
              {{#each cards}}
                <div class="item">
                  <a href="{{pathFor route='searchCard' searchString=name}}" class="ui circular card-small image">

                    {{#with deckCardStatus card_id}}
                      {{#if missing}}
                      <div class="ui dimmable dimmed segment">
                        <img src="/thumbnails/{{card_id}}.jpg">
                        <div class="ui simple dimmer">
                          <div class="content">
                            <div class="center">
                              {{missing}}
                            </div>
                          </div>
                        </div>
                      </div>
                      {{else}}
                        <img src="/thumbnails/{{card_id}}.jpg">
                      {{/if}}
                    {{/with}}

                  </a>
                  <div class="content">
                    <div class="header">
                      {{deck_count}}x <a class="card-name">{{name}}</a>
                    </div>
                  </div>
                </div>
              {{/each}}
          {{/each}}
          </div>
      </div>
    </div>

    <div class="four wide column">
      {{> cardSearch deck=_id}}
    </div>

  </div>
</template>

<template name="addDeck">
  <div class="ui container">
    {{#autoForm collection="Decks" id="addDeckForm" type="insert"}}
      {{> afQuickField name='name'}}
      {{> afQuickField name='active'}}
      {{> afQuickField name='public'}}
      {{> afQuickField name='description' rows=5}}
      <button type="submit" class="ui green button">Create</button>
    {{/autoForm}}
  </div>
</template>

<template name="editDeck">
  <div class="ui container">
    {{#autoForm collection="Decks" id="addDeckForm" type="update" doc=this}}
      {{> afQuickField name='name'}}
      {{> afQuickField name='active'}}
      {{> afQuickField name='public'}}
      {{> afQuickField name='description' rows=5}}
      <button type="submit" class="ui green button">Update</button>
      {{> quickRemoveButton collection="Decks" _id=this._id class="ui red button" beforeRemove=beforeRemove}}
    {{/autoForm}}
  </div>
</template>
