<template name="decks">

  <div class="ui grid">
    <div class="thirteen wide column">
      <div id="deck-dropdown" class="ui fluid big search selection dropdown">
        <input type="hidden" name="deck">
        <i class="dropdown icon"></i>
        <div class="default text">Select Deck</div>
        <div class="menu">
        {{#each decks}}
              <div class="item" data-value="{{_id}}">{{name}}</div>
        {{/each}}
        </div>
      </div>
    </div>

    <div class="three wide column">
      <div id="add-deck" class="fluid ui big green labeled icon button">
        <i class="plus icon"></i>
        Add
      </div>
    </div>
  </div>

  {{> deck selectedDeck}}

</template>

<template name="deck">

{{name}}
{{owner}}
{{_id}}

</template>
