<template name="searchBox">

    <div class="row">
      <div class="col-md-12">
        {{> esInput index="cards" placeholder="Search..." class="form-control" }}
      </div>
    </div>

    <div class="list-group">
        {{#esEach index="cards"}}
          {{> card}}
        {{/esEach}}
    </div>

    <script>
      $(function () {

        $(".list-group").on("click", ".badge-inv", function() {
          $(this).popover("show");
          $(".badge-input").focus();
        });

        $(".list-group").on("focusout", ".badge-input", function() {
          $(".badge-inv").popover("hide");
        });

      });
    </script>

</template>
