<template name="searchBox">

    <div class="row">
      <div class="col-md-12">
        {{> esInput index="cards" placeholder="Search..." class="form-control" }}
      </div>
    </div>

    <div class="list-group">
        {{#esEach index="cards"}}
          {{> card}}
        {{/esEach}}
    </div>

    <script>
      $("body").popover({
        selector: '[rel="popover"]',
        placement: "bottom",
        trigger: "click",
        container: '.list-group',
        html: true
      });
    </script>

</template>
