
<template name="cardSearch">
  <div class="fluid ui icon input">
    {{> EasySearch.Input index=ShortCardsIndex placeholder="Search..." class="form-control"}}
    <i class="search icon"></i>
  </div>

  {{#EasySearch.Each index=ShortCardsIndex}}
    {{> bareCard}}
  {{/EasySearch.Each}}

  <div>
    {{> EasySearch.LoadMore index=ShortCardsIndex attributes=loadMoreAttributes}}
  </div>
</template>

<template name="bareCard">
  <div class="ui card">
    <div class="content">
      <p class="header">{{name}}</p>
      <div class="meta">
        {{#if isCryptCard}}
          {{clan}} {{capacity}} {{disciplines}}
        {{else}}
            {{type}} {{clan}} {{requirement}}
            {{#if poolCost}}
              Pool: {{poolCost}}
            {{/if}}
            {{#if bloodCost}}
              Blood: {{bloodCost}}
            {{/if}}
          {{/if}}
      </div>
      <div class="description">
        <p>{{text}}</p>

        {{#if banned}}
          <i title="Banned" class="red remove icon"></i>
        {{/if}}
        {{#if rulings}}
          <i class="warning circle icon rulings-icon"></i>

          <div class="fluid ui popup inverted ruling-popup">
            <div class="header">Rulings</div>
            <div class="ui list">
              {{#each rulings}}
                <li class="item">
                  <i class="right triangle icon"></i>
                  {{this}}
                </li>
              {{/each}}
            </div>
          </div>
        {{/if}}
      </div>
    </div>
    <div class="extra content">
      <form class='set-card' action="#">
        <div class="ui fluid action input">
          <input title="Count" class="badge-input" name="count" type="text" value={{cardCount}}>
          <button type="submit" class="ui green right icon button">
            <i class="check icon"></i>
          </button>
        </div>
        <input type='hidden' name='id' value='{{cardId}}'/>
      </form>
    </div>
  </div>
</template>
