<template name="card">
  <div class="column">
    <div class="fluid ui special card">

      <div class="blurring dimmable image">
            <div class="ui dimmer">
              <div class="content">
                <div class="center card-text">
                  <p>{{text}}</p>
                </div>
              </div>
            </div>
            <img src="/cards/{{cardId}}.jpg">
      </div>

      <div class="content">
        <div class="header">{{name}}<small>{{adv}}</small></div>
        <div class="meta">
          {{#if isCryptCard}}
            {{clan}} {{capacity}} {{disciplines}}
          {{else}}
              {{type}} {{clan}} {{requirement}}
              {{#if poolCost}}
                Pool: {{poolCost}}
              {{/if}}
              {{#if bloodCost}}
                Blood: {{bloodCost}}
              {{/if}}
            {{/if}}
        </div>
        <div class="description">

        </div>
      </div>
      <div class="extra content">
        <span class="right floated">
          {{> deckBar}}
        </span>
        <span>
          <i class="plus icon"></i>
          {{inventoryCount}}
        </span>
      </div>
    </div>
  </div>
</template>
