<template name="card">
  <div class="column">

    <div class="fluid ui special card">

      <div class="ui blurring dimmable rounded image card-image">
            <div class="ui dimmer">
              <div class="content card-text">
                <div class="center">
                  <p>
                  <h3>{{name}}<small>{{adv}}</small></h3>
                  {{#if isCryptCard}}
                    {{clan}} {{capacity}} {{disciplines}}
                  {{else}}
                      {{type}} {{clan}} {{requirement}}
                      {{#if poolCost}}
                        Pool: {{poolCost}}
                      {{/if}}
                      {{#if bloodCost}}
                        Blood: {{bloodCost}}
                      {{/if}}
                    {{/if}}
                  </p>
                  <p>{{text}}</p>
                </div>
              </div>
            </div>
            <img src="/cards/{{cardId}}.jpg">
      </div>

      <div class="content">
        <p class="header">{{name}}</p>
        <div class="description">
          <a class="inventory-button right floated">
            <i class="heart icon"></i>
            {{inventoryCount}}
          </a>

          <div class="ui flowing popup">
            <form class='set-inv'>
              <div class="ui input">
                <input class="badge-input" name="count" type="text" placeholder={{inventoryCount}}>
              </div>
              <input type='hidden' name='id' value='{{cardId}}'/>
            </form>
          </div>

          {{#if isCryptCard}}
           Crypt
          {{else}}
           Library
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>
