<template name="card">
    <div class="fluid ui special card">

      <div class="ui blurring dimmable rounded image card-image">
            <div class="ui dimmer">
              <div class="content card-text">
                <div class="center">
                  <p>
                  <h3>{{name}}</h3>
                  {{#if isCryptCard}}
                    {{clan}} {{capacity}} {{disciplines}}
                  {{else}}
                      {{type}} {{clan}} {{requirement}}
                      {{#if pool}}
                        Pool: {{pool}}
                      {{/if}}
                      {{#if blood}}
                        Blood: {{blood}}
                      {{/if}}
                    {{/if}}
                  </p>
                  <p>{{text}}</p>
                </div>
              </div>
            </div>
            <img src="/cards/{{card_id}}.jpg" onerror="this.src='/cardback.jpg'">
      </div>

      <div class="content">
        <!-- <p class="header">{{name}}</p> -->
        <div class="description">
          <a class="inventory-button">
            {{inventoryCount}}
            <i class="star link icon"></i>
          </a>

          <div class="ui flowing inv popup">
            <form class='set-inv'>
              <div class="ui input">
                <input title="Inventory" class="badge-input" name="count" type="text" placeholder={{inventoryCount}}>
              </div>
              <input type='hidden' name='id' value='{{card_id}}'/>
              <input type="submit" style="visibility: hidden;" />
            </form>
          </div>

          {{> deckControl}}

          {{#if banned}}
            <i title="Banned" class="red remove icon"></i>
          {{/if}}
          {{#if rulings}}
            <i class="warning circle icon rulings-icon"></i>

            <div class="fluid ui popup inverted ruling-popup">
              <div class="header">Rulings</div>
              <div class="ui list">
                {{#each rulings}}
                  <li class="item">
                    <i class="right triangle icon"></i>
                    {{this}}
                  </li>
                {{/each}}
              </div>
            </div>
          {{/if}}
        </div>
      </div>
      <div class="extra content">
        <emph>{{rarity}}</emph>
      </div>
    </div>

</template>
