<template name="deck">

  <div class="ui grid">

    <div class="twelve wide column">
      <h3 class="ui top attached header">
          <a href={{pathFor 'decks.edit' _id}}><i class="edit link icon"></i></a>
          {{name}}
          {{#if active}}
            <div class="ui green horizontal label">active</div>
          {{else}}
            <div class="ui horizontal label">inactive</div>
          {{/if}}
      </h3>
      <div class="ui attached segment">
        <h4>Description</h4>
        <p style="white-space: pre;">{{description}}</p>

        <h4>Crypt Cards ({{deckStats.cryptCount}})</h4>
        <div class="ui list">
          {{#each cryptItems}}
            <div class="item">
              <img class="ui avatar image" src="/cards/{{card_id}}.jpg">
              <div class="content">
                <div class="header">
                  {{deck_count}}x <a class="card-name">{{name}}</a> <small></small>
                </div>
                <div class="description">
                  {{#each disciplines}}
                    <icon class="{{this}}"></icon>
                  {{/each}}
                  {{clan}} {{capacity}} {{title}}
                </div>
              </div>
            </div>
          {{/each}}
        </div>

        <h4>Library Cards ({{deckStats.libCount}})</h4>
          <div class="ui middle aligned list">
          {{#each libItems}}
            <h5>{{type}} ({{countCards cards}})</h5>
              {{#each cards}}
                <div class="item">
                  <img class="ui avatar image" src="/cards/{{card_id}}.jpg">
                  <div class="content">
                    <div class="header">
                      {{deck_count}}x <a class="card-name">{{name}}</a>
                    </div>
                  </div>
                </div>
              {{/each}}
          {{/each}}
          </div>
      </div>
    </div>

    <div class="four wide column">
      {{> cardSearch deck=_id}}
    </div>

  </div>

</template>

<template name="addDeck">
  <div class="ui container">
    {{#autoForm collection="Decks" id="addDeckForm" type="insert"}}
      {{> afQuickField name='name'}}
      {{> afQuickField name='active'}}
      {{> afQuickField name='description' rows=5}}
      <button type="submit" class="ui green button">Create</button>
    {{/autoForm}}
  </div>
</template>

<template name="editDeck">
  <div class="ui container">
    {{#autoForm collection="Decks" id="addDeckForm" type="update" doc=this}}
      {{> afQuickField name='name'}}
      {{> afQuickField name='active'}}
      {{> afQuickField name='description' rows=5}}
      <button type="submit" class="ui green button">Update</button>
      {{> quickRemoveButton collection="Decks" _id=this._id class="ui red button" beforeRemove=beforeRemove}}
    {{/autoForm}}
  </div>
</template>
