
<template name="cardSearch">
  <div class="fluid ui icon input">
    {{> EasySearch.Input index=ShortCardsIndex placeholder="Search..." class="form-control" attributes=inputAttributes}}
    <i class="search icon"></i>
  </div>

  <div style="padding-top: 1em;" class="ui doubling stackable cards">
  {{#EasySearch.Each index=ShortCardsIndex}}
    {{> deckCard}}
  {{/EasySearch.Each}}
  </div>

  <div style="padding-top: 1em;">
    {{> EasySearch.LoadMore index=ShortCardsIndex attributes=loadMoreAttributes}}
  </div>
</template>

<template name="deckCard">
  <div class="ui card">

    {{> cardImage}}

    <div class="extra content">
          <form class='set-card ui form' action="#">
            <div class="inline field">
              {{#with inventoryStatus card_id}}
              <label>Used: {{used}} / {{inv}}</label>
              {{/with}}
              <div class="ui fluid action input">
                <input title="Count" class="badge-input" name="count" type="text" value={{cardCount}}>
                <button type="submit" class="ui green right icon button">
                  <i class="check icon"></i>
                </button>
              </div>
              <input type='hidden' name='id' value='{{card_id}}'/>
            </div>
          </form>
        </div>
  </div>
</template>
