<template name="deck">

  <div class="ui grid">

    <div class="twelve wide column">
      <h3 class="ui top attached header">
          <a href={{pathFor 'decks.edit' _id}}><i class="edit link icon"></i></a>

          {{name}}
          {{#if active}}
            <div class="ui green horizontal label">active</div>
          {{else}}
            <div class="ui horizontal label">inactive</div>
          {{/if}}
      </h3>
      <div class="ui attached segment">
        <h5>Description</h5>
        <p>{{description}}</p>

        <h5>Crypt Cards</h5>
        <div class="ui list">
          {{#each cryptItems}}
            <div class="item">
              <img class="ui avatar image" src="/cards/{{cardId}}.jpg">
              <div class="content">
                <div class="header">{{deck_count}}x {{name}}</div>
                <div class="description">{{clan}} {{capacity}} {{disciplines}}</div>
              </div>
            </div>
          {{/each}}
        </div>

        <h5>Library Cards</h5>
        <div class="ui list">
          {{#each libItems}}
            <div class="item">
              <img class="ui avatar image" src="/cards/{{cardId}}.jpg">
              <div class="content">
                <div class="header">{{deck_count}}x {{name}}</div>
                <div class="description">{{type}}</div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>

    <div class="four wide column">
      {{> cardSearch deck=_id}}
    </div>

  </div>

</template>

<template name="addDeck">
  <div class="ui container">
    {{#autoForm collection="Decks" id="addDeckForm" type="insert"}}
      {{> afQuickField name='name'}}
      {{> afQuickField name='active'}}
      {{> afQuickField name='description' rows=5}}
      <button type="submit" class="ui green button">Create</button>
    {{/autoForm}}
  </div>
</template>

<template name="editDeck">
  <div class="ui container">
    {{#autoForm collection="Decks" id="addDeckForm" type="update" doc=this}}
      {{> afQuickField name='name'}}
      {{> afQuickField name='active'}}
      {{> afQuickField name='description' rows=5}}
      <button type="submit" class="ui green button">Update</button>
      {{> quickRemoveButton collection="Decks" _id=this._id class="ui red button" beforeRemove=beforeRemove}}
    {{/autoForm}}
  </div>
</template>
